<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <script src="{{ url_for('static', filename='js/bootstrapt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapt.css') }}">
   
</head>
<body>

    <div class="container mb-6" style="margin-top: 14%;" >
        <form action="/login" method="post">
            
            <div class="mb-3">
                <label for="username" class="form-label">Foydalanuvchi nomi</label>
                <input type="text" class="form-control" id="username"name="username" placeholder="Foydalanuvchi nomi">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Parol</label>
                <input type="password" class="form-control" id="password"name="password" placeholder="Parol">
            </div>

            <input type="submit" class="btn btn-success" value="KIRISH">
        </form>        
      
    </div>
</body>
</html>