<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
    <script src="{{ url_for('static', filename='js/bootstrapt.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapt.css') }}">
   
</head>
<body>
    <p>{{error}}</p>
    <div class="container mb-6">
        <form action="/register" method="post">
           
            <div class="mb-3">
                <label for="name" class="form-label">name</label>
                <input type="text" class="form-control" id="name"name="name" placeholder="name">
            </div>
           
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username"name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" class="form-control" id="password"name="password" placeholder="password">
            </div>
            <input type="submit" value="register">
        </form>        
      
    </div>
</body>
</html>